<nav>

    <% if(data == undefined ){ %>

  <form action="/login" id="sesionForm" method="POST" autocomplete="off">
    <input type="text" name= "username" id="user" placeholder="mail" />
    <input type="password" name= "password" id="pass" placeholder="password" />
    <button class="btn-iniciarSesion" type="submit">
      <h2>Sign In</h2>
    </button>
    <a href="./register">
    <button class="btn-iniciarSesion" type="button" >
      <h2>Sign Up</h2>
    </button></a>
  </form>

<% }else{ %>
  <div id="welcontainer">
    <h1>Bienvenido <%= data.firstName %> </h1>  
    <a href="./carrito">Ver tus productos</h3></a>
    <img src="./upload/<%= data.avatar %>" id="avatar">
 </div>
 <form action="/logOut" method="get"><button type="submit" id="logOut-btn">Cerrar sesion</button></form>
      <% } %>

</nav>
